.git
.next
node_modules
services/ds-service/data
.cloudflared
.claude
.vercel
*.md
*.test.go
**/__tests__
**/*.test.ts
**/*.test.tsx
public/icons/glyph/variants
public/icons/glyph/svgs
public/icons/glyph/svg
public/icons/glyph/raster
public/icons/glyph/png
.DS_Store
